.text-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    height: 5em;
  }
  
  .default-text, .hover-text {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 4.5rem;
  }
  
  .default-text {
    transform: translateY(0);
  }
  
  .hover-text {
    opacity: 0;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .text-container:hover .default-text {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .text-container:hover .hover-text {
    opacity: 1;
    transform: translateY(0);
  }
  